{% extends 'base.html' %}



{% block content %}
   <section id="product_list">
    <div class="site-section">
      <div class="container">

        <div class="row">
              <div class="title-section mb-5 col-12">
                <h2 class="text-uppercase">Products</h2>
              </div>
        </div>
                <div class="row">
                {% for product in products %}
                  <div class="col-lg-4 col-md-6 item-entry mb-4">
                    <a href="{% url 'core:product_detail' product.slug %}" class="product-item md-height bg-gray d-block">
                      <img src="{{ product.thumbnail.url }}" alt="Image" class="img-fluid">
                    </a>
                    <h2 class="item-title"><a href="{% url 'core:product_detail' product.slug %}">{{ product.title }}</a></h2>
                    <strong class="item-price">${{ product.price }}</strong>
                  </div>
                 {% endfor %}
                </div>
          </div>
       </div>
   </section>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
       var productapp = new Vue({
           el: '#product_list',
           delimiters: ['[[',']]'],

           data(){
               return {
                   'counter':1,
                   results: []
               }
           },
           mounted() {
                axios.get("http://127.0.0.1:8000/api/products/?format=json")
                .then(response => {this.results = response.data.results}
                ).then(console.log(this.results))},
           methods: {
               fetchProducts(){
                   fetch('http://127.0.0.1:8000/api/products/?format=json',{
                       method: 'GET',
                       headers:{
                           'Content-Type':'application/json',
                           'X-CSRFToken':'{{  csrf_token }}'
                       },
                       credentials: 'same-origin',
                       body: JSON.stringify(data)
                   }).then((response) => {
                       console.log(response)
                   }).catch(function (error) {
                       console.log('error 2');
                   })
               }
           }

       })
    </script>
{% endblock %}